body{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}

/*NAV*/
header{
    justify-content: space-between;
    width: 100%;
    position: fixed;
   top: 0px;
   z-index: 1000;
   background-color: rgba(0, 0, 0, 0.8);
}
header nav ul{
    list-style: none;
    gap: 70px;
    display: flex;
    padding-top: 5px
}
header p{
    font-weight: bold;
    font-size: 20px;
    color: #DFD3BD;
    margin-left: 10px;
    margin-top: -20px;
}
header nav ul a{
    color:#DFD3BD;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    padding-left: 80px;
}
header nav ul a:hover{
    color: white;
    text-decoration: underline;
}


/*FOOTER*/
footer{
    justify-content: space-between;
    background-color: #DFD3BD;
    display: flex;
    padding: 20px 0px;
    margin: auto;
    max-width: 100%;
}
footer ul{
    list-style: none;
    gap: 130px;
    display: flex;
}
footer a{
    color:black;
    text-decoration: none;
}
footer a:hover{
    color: black;
    text-decoration: underline;
}
.nero{
    justify-content: space-between;
    background-color: black;
    display: flex;
    padding: 20px 0;
}
.nero ul{
    list-style: none;
    gap: 130px;
    display: flex;
}
.nero a{
    color: white;
    text-decoration: none;
}
.nero a:hover{
    color: #DFD3BD;
    text-decoration: underline;
}



/*MISURE GENERALI*/
p{
    color: white;
    font-size: 18px;
}
h1{
    color: #DFD3BD;
    font-size: 40px;
}
.titolo1 h1{
    font-size: 100px;
    margin-top: 0;
    padding-left: 40px;
}
.misure {
    width: 100%;
}
.row1 {
    display: flex;
    flex-direction: row;
}
.cool {
    width: 25%;
}
.cool1 {
    width: 50%;
}
.cool span {
    padding: 0px 30px;
}
.ta-right {
    text-align: right;
}
.white {
    color: white;
}






/*HOME*/
.luna-home h1{
    font-size: 415px;
    margin-top: 300px;
    line-height: 0px;
}
.luna-home img{
    width: 900px;
    height: 900px;
 padding-top: 30px;
}
.luna-home{
    justify-content: center;
    align-items: center;
    margin: 0;
}
.outline-title {
    font-size: 4em;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 10px #DFD3BD;
    text-align: center;
}
.outline-title1 {
    font-size: 4em;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 5px #DFD3BD;
    text-align: center;
}
.outline-title2 {
    font-size: 4em;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px #DFD3BD;
    text-align: center;
}
.luna-home {
    position: relative;
    text-align: center;
}
.MOON {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -2.7%);
}
.image-moon {
    position: absolute;
    top: 450px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.image-moon img {
    width: 1200px;
    height: 1200px;
}
.sotto{
    padding-top: 1500px;
}
.caratteristiche{
    padding-top: 40px;
}
.lune {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}
.grid-item {
    padding-left: 15px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.container1{
    max-width: 1120px;
    grid-template-columns: 2fr 1fr;
    display: flex;
    gap: 20px;
}
.container1 .imagee{
    padding-top: 70px;
}
.container1 .text1 h1{
    font-size: 40px;
    padding-left: 80px;
}
.container1 .text1 p{
    font-size: 15px;
    line-height: 1.4;
    padding-left: 80px;
}
.container1 .text1 a{
    color:white;
    text-decoration: none;
    margin-left: 80px;
    font-size: 20px;
}
.container1 .text1 a:hover{
    color: #DFD3BD;
    text-decoration: underline;
}
.container1 .lune p{
    font-size: 15px;
}
.info1{
    padding-bottom: 40px;
}




/*MOON*/
.sposta{
    padding-top: 100px;
}
.info{
    padding:0px 150px 50px;
    background-color: #DFD3BD;
    padding-left: 30px;
}
.info h1{
    font-size: 30px;
    color: black;
}
.info h5{
    font-size: 20px;
}
.info p{
    color: black;
}
.container{
    max-width: 1120px;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    display: flex;
    padding:0px 0px 50px;
}
.container .text{
    width: 66%;
    margin-top: 100px;
    margin-left: 90px;
}
.container .text p{
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 1.4rem;
}
.container .text h1{
    font-size: 40px;
}
.texto p{
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 1.4rem;
    padding-left: 165px;
    padding-bottom: 100px;
}
.texto h1{
    font-size: 40px;
    padding-left: 165px;
    padding-top: 100px;
}
.container .image0{
    width: 33%;
    padding-top: 100px;
    width: 400px;
    height: 513px;
}
.image1{
    padding-top: 200px;
}
.image1 img{
   height: 370px;
    width: 520px;
    padding-top: 80px;
}
.image2{
    padding-top: 300px;

}
.image3{
    padding-left: 85px;
    padding-top: 70px;
}
.image4{
    padding-top: 60px;
}
.containerr{
    max-width: 1120px;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    display: flex;
    padding:0px 0px 100px;
}
.containerr .text{
    width: 66%;
    margin-top: 100px;
    margin-left: 40px;
}
.containerr .text p{
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 1.4rem;
}
.containerr .text h1{
    font-size: 40px;
}
.containerr .image{
    width: 33%;
    padding-top: 140px;
    width: 400px;
    height: 513px;
}
.fasi{
    grid-template-columns: 2fr 1fr;
    display: grid;
    padding: 0px 130px 80px 130px;
}
.contenitore33{
    max-width: 1120px;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    display: flex;
    gap: 0px;
    padding-bottom: 50px;
    margin-top: -30px;
}
.contenitore33 p{
    font-size: 20px;
}
.nascita p{
    padding-left: 20px;
    padding-top: 70px;
}
.lunario1 p{
    padding-left: 60px;
    padding-top: 90px;
}
.altopiani p{
    padding-left: 120px;
    padding-top: 90px;
}
.fasilunari p{
    padding-left: 80px;
    padding-top: 90px;
}
.eclissi p{
    padding-left: 5px;
    padding-top: 90px;
}
button {
    margin: 5px;
}
.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    justify-content: center;
    align-items: center;
}
.popup {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.popup-content {
    position: relative;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.parole h5{
    color: white;
    font-size: 20px;
    padding-left: 70px;
}
.parole h1{
    font-size: 50px;
    padding-left: 70px;
}
.parole p{
    font-size: 15px;
    padding-left: 70px;
}
.parole{
    margin: auto;
    grid-template-columns: 2fr 1fr;
    display: flex;
}
.pulsante{
    padding-left: 180px;
}
.pulsante1{
    padding-left: 150px;
}
.pulsante2{
    padding-left: 120px;
}
.foto img{
    padding-left: 70px;
}
.Immagine img{
    width: 440px;
    height: 360px;
}
.Immagine1 img{
    width: 407px;
    height: 239px;
    padding-top: 50px;
}
.Immagine2 img{
    width: 250px;
    height: 240px;
    padding-top: 60px;
}
.Immagine3 img{
    width: 407px;
    height: 233px;
    padding-top: 50px;
}
.imm6 img{
    padding-top: 100px;
    width: 407px;
    height: 239px;
}
.imm7 {
    padding-left: 70px;
}
.imm8{
    padding-top: 100px;
    width: 407px;
    height: 239px;
}
.imm9 {
    padding-left: 50px;
}


/*HISTORY*/
.sposta1{
    padding-top: 80px;
}
.contenitore{
    max-width: 1120px;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    gap: 150px;
    display: flex;
    padding-left:0px;
}
.inizio, .t1 h5, .t2 h5 {
    color: white;
    font-size: 20px;
    padding-top: 30px;
}
.t1 h5, .t2 h5{
    word-spacing: 2px;
}
.inizio p{
    font-size: 15px;
}
.sbarco1 h1{
    padding-top: 20px;
    padding-left: 70px;
    font-size: 40px;
    word-spacing: 10px;
}
.sbarco h1{
   font-size: 40px; 
   padding-top: 150px;
   padding-left: 70px;
   word-spacing: 5px;
}
.contenitore1{
    max-width: 1120px;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    display: flex;
}
.contenitore1 h4{
    color: white;
    font-size: 25px;
}
.contenitore1 p{
    font-size: 17px;
}
.separator{
    border: none;
    height: 3px;
    background-color: white;
    margin: 130px 0;

}
.contenitore1 .imm1 img{
    width: 33%;
    padding-top: 15px;
    width: 390px;
    height: 390px;
}
.contenitore1 .imm2 img{
    width: 33%;
    padding-top: 150px;
    width: 390px;
    height: 217px;
}
.contenitore1 .imm3 img{
    width: 33%;
    width: 450px;
    height: 630px;
}
.equipaggiamento{
    max-width: 1120px;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    gap: 55px;
    display: flex; 
}
.tuta img{
    padding-top: 20px;
}
.immagini img{
   width: 310px;
   height: 280px;
   padding: 10px;
   margin-bottom: 20px;
}
.moonexploration {
    position: relative;;
}
.testoo{
    position: absolute;
    color: white;
}
.astronauta img{
    width: 1270px;
    height: 1280px;
    display: block;
}
.center-text{
    text-align: center;
    font-size: 80px;
    padding-left: 440px;
}
.testoo h1{
    padding-left: 500px;
}
.testoo p{
    padding-left: 500px;
}






/*TOKNOW*/
.toknow{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonne */
    grid-template-rows: repeat(4, auto); /* 4 righe */
    gap: 20px; /* Spaziatura tra le celle */
    padding: 20px;
}
.grid-item {
    background-color: black;
    padding: 20px;
}
.grid-item h4 {
    margin-top: 0;
    color:#DFD3BD;
    font-size: 25px;
}
.grid-item p {
    margin-bottom: 0;
    font-size: 15px;
}
.barattolo{
    max-width: 1120px;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    display: flex;
}
.titolo{ 
    width: 66%;
    padding-top: 100px;
    margin-left: 10px;
}
.titolo h1{
   font-size: 70px;
   line-height: 1.4;
}
.luna img{
    width: 750px;
    height: 900px;

}
.sottotitolo h1{
    font-size: 50px;
    padding: 40px;
}





/*ENTERTAINMENT*/
.film {
    width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.col-50 {
    width: calc(50% - 44px);
    margin: 20px;
}
.col-50 img {
    border: 2px solid #DFD3BD;
    border-radius: 30px;
    width: 300px;
    height: 200px;
}
.container-button {
    padding-left: 70px;
}
.pl-130 {
    padding-left: 130px;
}
.pl-90 {
    padding-left: 90px;
}
.pl-100 {
    padding-left: 100px;
}
.ml-100 {
    margin-left: 100px;
}
.pl-80 {
    padding-left: 80px;
}
.pl-60 {
    padding-left: 60px;
}
.songs {
    width: 1200px;
    margin: 0 auto;
}
button {
    margin: 5px;

}
.titolo h1{
    color: #DFD3BD;
    font-size: 50px;
    padding-left: 20px;
}
.titolo p{
    padding-left: 20px;
}
.testo-film p {
    color: white;
    font-size: 18px;
}
.testo-film h1 {
    color: #DFD3BD;
    font-size: 30px;
}
.Immagine7 img {
    height: 250px;
}
.Immagine8 img{
    width: 300px;
    height: 250px;
}






/*PRIVACY*/
.sottoparagrafi h4{
    color: #DFD3BD;
    font-size: 25px;
    padding-left: 10px;
}
.testi{
    color: white;
    font-size: 15px;
    padding-left: 10px;
}
.privacypolicy{
    font-size: 50px;
    padding-left: 10px;
}
.sottoo{
    padding-top: 50px;
    padding-left: 5px;
    padding-bottom: 30px;
}




/*CHI SIAMO*/
.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    justify-content: center;
    align-items: center;
}
.Immagine5 {
    width: 270px;
    height: 200px;
    border-radius: 5px;
}
.presentazione h1{
    padding-left: 20px;
}
.presentazione p{
    padding-left: 20px;
}
.presentazione h5{
    color: white;
    font-size: 20px;
    padding-left: 20px;
}
.parole1 h1{
    font-size: 50px;
    padding-left: 20px;
}
.parole1 p{
    font-size: 15px;
    padding-left: 20px;
}
.parole1{
    margin: auto;
    grid-template-columns: 2fr 1fr;
    display: flex;
}
.Immagine6 img{
    width: 600px;
    height: 450px;
}
.tutto {
    padding-left: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
}
.button1{
    height: 10px;
}
.sotto6{
    padding-top: 50px;
}






/* MEDIA QUERIES */

/*HOME*/
@media screen and (max-width: 1400px) {
    header nav ul {
        gap: 90px;
    }
    .luna-home img {
        width: 900px;
        height: 900px;
        padding-top: 30px;
    }
    .luna-home h1 {
        font-size: 430px;
    }
    .image-moon {
        top: 500px;
    }
    .image-moon img {
        width: 1200px;
        height: 1200px;
    }
    .sotto {
        padding-top: 1800px;
    }
    footer ul {
        gap: 170px;
    }
   .caratteristiche{
    padding-left: 20px;
   }
   .info1{
    padding-left: 20px;
   }
   footer{
    margin-top: 10%;
   }
}
@media screen and (max-width: 1200px) {
    header nav ul {
        gap: 50px;
        padding-left: 45px;
    }

    .luna-home h1 {
        font-size: 360px;
    }
    footer ul {
        gap: 120px;
    }

    .image-moon img {
        width: 1000px;
        height: 1000px;
    }

    .image-moon {
        top: 450px;
    }
    .sotto {
        padding-top: 1600px;
    }
   
}
@media screen and (max-width: 992px) {
    header nav ul a {
        padding-left: 50px;
    }
    .luna-home h1 {
        font-size: 300px;
    }
    footer ul {
        gap: 70px;
    }
    .image-moon img {
        width: 900px;
        height: 900px;
    }
    .image-moon {
        top: 460px;
    }
    .sotto {
        padding-top: 1470px;
    }
    .imagee img{
        width: 450px;
        height: 130px;
    }
    .grid-item{
        padding-left: 2px;
    }
    footer {
        margin-top: 5%;
    }
}
@media screen and (max-width: 768px) {
    header nav ul a {
        padding-left: 3px;
    }

    .luna-home h1 {
        font-size: 225px; 
        margin-top: 220px;
    }

    footer ul {
        gap: 40px;
        font-size: 13px;
    }

    .col-100 {
        width: 90%;
        margin-bottom: 50px;
    }

    .image-moon img {
        width: 650px;
        height: 650px;
    }

    .sotto {
        padding-top: 1070px;
    }

    .image-moon {
        top: 340px;
    }
    .imagee img{
        width: 380px;
        height: 110px;
    }
    .container1 .grid-item p{
        font-size: 12px;
    }
    .container1 .text1 h1{
        font-size: 25px;
        padding-top: 40px;
        padding-left: 15px;
    }
    .container1 .text1 p{
        font-size: 14px;
        padding-left: 15px;
    }
    .container1{
        grid-template-columns: 1fr;
      flex-direction: column;
        gap: 0px;
    }
    .text1{
        padding-right: 230px;
    }
    .container1 .Read li a{
        font-size: 20px;
        margin-left: 16px;
    }
    .lune .grid-item{
        padding-right: 0px;  
        padding-left: 20px;
    }
    .imagee img{
        width: 700px;
        height: 200px;
    }
}
@media screen and (max-width: 576px) {
    header nav ul{
        gap: 47px;
        font-size: 10px;
        padding-left: 0px;
        padding-top: 10px;
    }
    .luna-home h1 {
        margin-top: 175px;
        font-size: 175px;
        margin-left: 28px;
    }
    footer ul {
        gap: 45px;
        font-size: 10px;
        padding-left: 15px;
    }

    .sotto {
        padding-top: 860px;
    }

    .image-moon {
        top: 270px;
    }

    .image-moon img {
        width: 500px;
        height: 500px;
        margin-left: 10px;
    }
    .container1 .grid-item p{
        font-size: 8px;
    }

    .imagee img{
        width: 300px;
        height: 80px;
    }
    .container1 .text1 h1{
        font-size: 25px;
        padding-top: 40px;
        padding-left: 15px;
    }
    .container1 .text1 p{
        font-size: 14px;
        padding-left: 15px;
    }
    .container1{
        grid-template-columns: 1fr;
      flex-direction: column;
        gap: 0px;
    }
    .text1{
        padding-right: 230px;
    }
    .container1 .Read li a{
        font-size: 20px;
        margin-left: 14px;
    }
    .lune .grid-item{
        padding-right: 0px;  
        padding-left: 20px;
    }
    .imagee img{
        width: 500px;
        height: 150px;
    }
}
@media screen and (max-width: 400px) {
    header nav ul{
        gap: 20px;
        font-size: 8px;
        padding-left: 0px;
        padding-top: 15px;
    }
    .luna-home h1 {
        font-size: 130px;
        margin-top: 140px;
    }
    footer ul {
        gap: 25px;
        font-size: 8px;
        padding-left: 10px;
    }

    .sotto {
        padding-top: 700px;
    }

    .image-moon {
        top: 220px;
        margin-left: -25px;
    }
    .cool1{
        margin-left:50px ;
    }
    .cool{
        font-size: 10px;
        margin-left: -30px;
    }
    .content{
        width: 160px;
    }
    .image-moon img {
        width: 400px;
        height: 400px;
        padding-left: 20px;
    }
    .container1 .grid-item p{
        font-size: 7px;
    }

    .imagee img{
        width: 270px;
        height: 80px;
    }
    .container1 .text1 h1{
        font-size: 25px;
        padding-top: 40px;
        padding-left: 15px;
    }
    .container1 .text1 p{
        font-size: 14px;
        padding-left: 15px;
    }
    .container1{
        grid-template-columns: 1fr;
      flex-direction: column;
        gap: 0px;
    }
    .text1{
        padding-right: 100px;
    }
    .container1 .Read li a{
        font-size: 20px;
        margin-left: 14px;
    }
    .lune .grid-item{
        padding-right: 0px;  
        padding-left: 20px;
    }
    .imagee img{
        width: 380px;
        height: 100px;
    }
}

/*MOON*/
@media screen and (max-width: 1400px){
    .nero ul{
        gap: 160px;
    }
    .text h5{
        font-size: 25px;
    }
}
@media screen and (max-width: 1200px){
    .nero ul{
        gap: 110px;
    }
    .containerr{
        padding-left: 75px;
    }
    .image0 img{
        padding-top: 40px;
    }
    .image img{
        padding-right: 50px;
        padding-top: 30px;
    }
    .image2 img{
        padding-top: 50px;
        width: 450px;
    }
    .image3 img{
        padding-top: 30px;
    }
    .overlay {
        top: 400px;
    }
    .text h5{
        font-size: 25px;
    }
}
@media screen and (max-width: 992px){
  
.contenitore33 .testi p{
    font-size: 17px;
    
}
.contenitore33 .moon img{
    width: 550px;
    height: 700px;
    padding-left: 10px;
}
.container .text p{
    font-size: 15px;
}
.image0 img{
    width: 350px;
    height: 400px;
    padding-top: 80px;
    padding-right: 50px;
}
.containerr{
    padding-left: 55px;
}
.containerr .text p{
    font-size: 15px;
}
       .texto p{
        font-size: 15px;
       }
.image img{
    width: 300px;
    height: 350px;
    padding-top: 80px;
    padding-right: 50px;
}
.image1 img{
    width: 400px;
    height: 250px;
    padding-top: 100px;
    padding-right: 50px;
}
.image2 img{
    width: 380px;
    height: 120px;
    padding-top: 20px;
    padding-right: 50px;
}
.image3 img{
    width: 300px;
    height: 450px;
    padding-top: 30px;
    padding-right: 90px;
}
.image4 img{
 width: 250px;
 height: 380px;
 padding-top: 50px;
 padding-right: 120px;
}
.text h5{
    font-size: 25px;
}
.nero ul{
    gap: 70px;
}
.parole .Immagine img{
    width: 300px;
    height: 250px;
    padding-top: 30px;
}
.parole .Immagine1 img{
    width: 350px;
    height: 200px;
    padding-top: 50px;
}
.parole .textt h1{
    font-size: 35px;
}
.parole .textt p{
    font-size: 12px;
}
.parole .Immagine3 img{
width: 350px;
height: 200px;
padding-top: 50px;
}
.overlay {
    top: 150px;
}
.info{
    padding:0px 0px 0px;
    padding-left: 0px;
}
.container .text{
    padding-right: 40px;
}
}
@media screen and (max-width: 768px){
    .titolo1 h1{
        font-size: 70px;
    }
   .contenitore33 .testi p{
        font-size: 15px;
        
    }
   .contenitore33 .moon img{
        width: 400px;
        height: 500px;
        padding-left: 10px;
    }
    .nascita p{
        padding-top: 10px;
    }
    .lunario1 p{
        padding-top: 40px;
    }
    .altopiani p{
        padding-top: 60px;
    }
    .fasilunari p{
        padding-top: 70px;
    }
    .eclissi p{
        padding-top: 60px;
    }
    .texto h1{
        font-size: 35px;
           }
           .texto p{
            font-size: 12px;
           }
   .info .text h1{
    font-size: 35px;
   }
   .info .text p{
    font-size: 12px;
   }
   .image0 img{
    width: 200px;
    height: 250px;
    padding-top: 140px;
    padding-left: 0px;
    padding-right: 80px;
}
  .info {
    padding-left: 0px;
   }
   .containerr .text h1{
    font-size: 35px;
   }
   .containerr .text p{
    font-size: 12px;
   }
   .image img{
    width: 200px;
    height: 250px;
    padding-top: 100px;
}
.image1 img{
    width: 300px;
    height: 200px;
    padding-top: 200px;
    padding-right: 50px;
}
.info{
    padding:0px 0px 0px;
    padding-left: 0px;
}
.foto img{
   padding-left: 50px;
}
.pulsante {
    padding-left: 150px;
}
.imm8 img{
    padding-left: 20px;
    padding-top: 20px;
    width: 330px;
}
.pulsante1{
    padding-left: 120px;
}
.imm7 img{
   width: 200px;
   padding-bottom: 40px;
   padding-top: 20px;
}
.imm6 img{
    width: 350px;
    height: 180px;
    padding-top: 120px;
    padding-bottom: 30px;
}
.fasi{
    padding: 0px 0px 90px 0px;
}
.pulsante2{
    padding-left: 90px;
}
.overlay {
    top: 0px;
}
.parole .Immagine img{
    width: 250px;
    height: 200px;
    padding-top: 50px;
}
.parole .textt h1{
    font-size: 25px;
}
.parole .textt h5{
    font-size: 15px;
}
.close {
    font-size: 30px;
    padding-right: 50px;
}
.parole .Immagine2 img{
    width: 180px;
    height: 170px;
}
.image2 img{
    width: 300px;
    height: 100px;
    padding-top: 20px;
    padding-right: 50px;
}
.image3 img{
    width: 200px;
    height: 300px;
    padding-top: 150px;
    padding-right: 50px;
}
.image4 img{
 width: 150px;
 height: 230px;
 padding-top: 120px;
 padding-right: 70px;
}
.nero ul{
gap: 40px;
}
}
@media screen and (max-width: 576px){
    .titolo1 h1{
        font-size: 50px;
    }
   .contenitore33 .testi p{
        font-size: 12px;
    }
   .contenitore33 .moon img{
        width: 300px;
        height: 400px;
        padding-left: 20px;
    }
    .nascita p{
        padding-top: 10px;
    }
    .lunario1 p{
        padding-top: 30px;
    }
    .altopiani p{
        padding-top: 40px;
    }
    .fasilunari p{
        padding-top: 40px;
    }
    .eclissi p{
        padding-top: 30px;
    }
    .container{
        margin: 0 auto;
        grid-template-columns:  1fr;
        flex-direction: column;
        padding-bottom: 0;
        gap: 0;
    }
    .containerr{
        margin: 0 auto;
        grid-template-columns:  1fr;
        flex-direction: column;
        gap: 0;
        padding-bottom: 0;
    }
   .info .text h1{
    font-size: 30px;
   }
   .info .text p{
    font-size: 13px;
   }
   .texto h1{
    font-size: 30px;
       }
       .texto p{
        font-size: 13px;
       }
  .container .image0 img{
    width: 250px;
    height: 300px;
    margin: 0 auto;
    padding-left: 150px;
    padding-top: 0;
    padding-bottom: 0;
}
  .info {
    padding-left: 0px;
    padding-bottom: 0;
    padding:0px 0px 0px;
    gap: 0;
   }
   .containerr .text h1{
    font-size: 30px;

   }
   .containerr .text p{
    font-size: 13px;
   }
   .image img{
    width: 230px;
    height: 350px;
    padding-left: 105px;
    padding-top: 0;
    padding-bottom: 0;
}
.image1 img{
    width: 350px;
    height: 250px;
    padding-top: 0px;
    padding-left: 110px;
    padding-bottom: 50px;
}
.foto img{
   padding-left: 50px;
   width: 200px;
   height: 170px;
}
.pulsante {
    padding-left: 100px;
}
.imm8 img{
    padding-left: 20px;
    padding-top: 20px;
    width: 230px;
}
.pulsante1{
    padding-left: 80px;
}
.imm7 img{
   width: 150px;
   padding-bottom: 20px;
   padding-top: 20px;
}
.imm6 img{
    width: 230px;
    height: 120px;
    padding-top: 120px;
    padding-bottom: 45px;
    padding-left: 30px;
}
.fasi{
    padding: 0px 0px 90px 0px;
    grid-template-columns: 1fr;
    flex-direction: column;
  padding-left: 130px;
  padding-top: 50px;
}
.fase2{
    padding-top: 70px;
}
.pulsante2{
    padding-left: 80px;
}
.overlay {
    padding-top: 900px;
}
.parole .Immagine img{
    width: 200px;
    height: 150px;
    padding-top: 50px;
}
.parole .Immagine1 img{
    width: 220px;
    height: 150px;
    padding-top: 50px;
}
.parole .Immagine3 img{
    width: 250px;
    height: 150px;
    padding-top: 50px;
}
.parole .textt h1{
    font-size: 20px;
}
.parole .textt h5{
    font-size: 12px;
}
.close {
    font-size: 30px;
    padding-right: 100px;
    padding-top: 0;
}
.parole .Immagine2 img{
    width: 180px;
    height: 170px;
}
.image2 img{
    width: 300px;
    height: 100px;
    padding-top: 0%;
    padding-left: 130px;
    padding-bottom: 50px;
}
.image3 img{
    width: 200px;
    height: 300px;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 70px;
}
.image4 img{
 width: 150px;
 height: 230px;
 padding-top: 0px;
 padding-left: 190px;
 padding-bottom: 50px;
}
.nero ul{
gap: 25px;
}
}
@media screen and (max-width: 400px){
    .titolo1 h1{
        font-size: 35px;
    }
   .contenitore33 .testi p{
        font-size: 10px;
    }
   .contenitore33 .moon img{
        width: 230px;
        height: 300px;
        padding-left: 10px;
        padding-top: 15px;
    }
    .nascita p{
        padding-top: 13px;
        padding-left: 0px;
    }
    .lunario1 p{
        padding-top: 25px;
        padding-left: 25px;
    }
    .altopiani p{
        padding-top: 25px;
        padding-left: 50px;
    }
    .fasilunari p{
        padding-top: 25px;
        padding-left: 30px;
    }
    .eclissi p{
        padding-top: 20px;
        padding-left: 0px;
    }
   .info .text h1{
    font-size: 25px;
    padding-right: 0px;
   }
   .info .text p{
    font-size: 10px;
    padding-right: 0px;
   }
   .texto h1{
font-size: 25px;
padding-left: 50px;
padding-top: 30px;
   }
   .texto p{
    font-size: 10px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
   }
   .container .text{
    width: 66%;
    margin-top: 30px;
    margin-left: 60px;
  padding-right: 0px;
}
.text h5{
    margin-top: 0px;
  margin-bottom: 25px;
}
.containerr{
    padding-left: 0px;
 height: 860px;
}
.container{
    height: 740px;

}
.containerr .text{
    margin-top: 30px;
    margin-left: 60px;
}
.container .image0 img{
    width: 200px;
    height: 250px;
    padding-left: 90px;
}
.container .image0{
    padding-top: 50px;
}
   .containerr .text h1{
    font-size: 25px;

   }
   .containerr .text p{
    font-size: 10px;
   }
 .containerr .image{
    padding-top: 50px;
 }
   .image img{
    width: 200px;
    height: 300px;
    padding-left: 85px;
}
.image1 img{
    width: 250px;
    height: 170px;
    padding-left: 70px;
}
.image1{
    padding-top: 60px;
}
.overlay{
    display: flex;
  padding-top: 0px;
  height: 8200px;
}
.foto{
    width: 300px;
}
.fasi{
    padding: 0px 0px 0px 0px;
  padding-top: 0px;
}
.fase1{
    padding-left: 50px;
}
.fase2{
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 40px;
}
.foto img{
   padding-left: 50px;
   width: 200px;
   height: 170px;
}
.pulsante {
    padding-left: 100px;
}
.imm8 img{
    padding-left: 20px;
    padding-top: 20px;
    width: 230px;
}
.pulsante1{
    padding-left: 80px;
}
.imm7 img{
   width: 150px;
   padding-bottom: 20px;
   padding-top: 20px;
}
.imm6 img{
    width: 230px;
    height: 120px;
    padding-top: 120px;
    padding-bottom: 85px;
}
.parole{
    flex-direction: column;
}
.parole .textt p{
    padding-left: 20px;
    font-size: 9px;
}
.parole h1{
    padding-left: 20px;
    font-size: 20px;
}
.parole h5{
    padding-left: 20px;
    font-size: 12px;
}
.pulsante2{
    padding-left: 70px;
}
.overlay {
    top: 0px;
}
.parole .Immagine img{
    width: 200px;
    height: 150px;
    padding-top: 50px;
    padding-left: 100px;
}
.parole .Immagine1 img{
    width: 220px;
    height: 150px;
    padding-top: 50px;
    padding-left: 80px;
}
.parole .Immagine3 img{
    width: 250px;
    height: 150px;
    padding-top: 50px;
    padding-left: 80px;
}
.close {
    padding-right: 100px;
    padding-top: 0;
}
.parole .Immagine2 img{
    width: 180px;
    height: 170px;
    padding-left: 100px;
}
.image2 img{
    width: 300px;
    height: 100px;
    padding-left: 40px;
}
.image2{
    padding-top: 100px;
  width: 350px;
  height: 100px;
}

.image3 img{
    width: 200px;
    height: 300px;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 0px;
}
.image4 img{
 width: 170px;
 height: 250px;
 padding-top: 0px;
 padding-left: 100px;
}
.image4{
    padding-bottom: 0px;
}
.nero ul{
gap: 20px;
padding-left: 0;
}
}

/*HISTORY*/
@media screen and (max-width: 1400px) {
   .astronauta img{
    width: 1400px;
    height: 1300px;
   }

}
@media screen and (max-width: 1200px){
    .astronauta img{
        width: 1200px;
        height: 1100px;
    }
    .moonexploration .testoo h1{
        font-size: 70px;
        padding-left: 430px;
    }
    .moonexploration .testoo p{
        font-size: 15px;
        padding-left: 450px;
    }
}
@media screen and (max-width: 992px) {
    .astronauta img{
        width: 992px;
        height: 892px;
    }
    .moonexploration .testoo h1{
        font-size: 70px;
        padding-left: 330px;
    }
    .moonexploration .testoo p{
        font-size: 12px;
        padding-left: 360px;
        padding-top: 0px;
    }
    .center-text{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .contenitore .t1{
        padding-left: 30px;
    }
    .contenitore1 .text p{
       font-size: 15px;
       padding-left: 40px;
    }
    .contenitore1 h4{
        padding-left: 40px;
    }
    .sbarco h1{
        padding-left: 40px;
    }
    .imm1{
        padding-right: 20px;
    }
    .sbarco1 h1{
        padding-left: 40px;
    }
    .contenitore1 .imm3 img{
        width: 300px;
        height: 420px;
        padding-right: 20px;
    }
    .contenitore1 .imm4 img{
        width: 300px;
        height: 400px;
        padding-right: 20px;
    }
    .contenitore1 .imm5 img{
        width: 450px;
        height: 450px;
        padding-right: 20px;
    }
    .tuta img{
        padding-left: 20px;
    }
    .immagini img{
       width: 220px;
       height: 200px;
       padding: 10px;
       margin-top: 50px;
    }
}
@media screen and (max-width: 768px){
        .astronauta img{
            width: 768px;
            height: 720px;
        }
        .moonexploration .testoo h1{
            font-size: 60px;
            padding-left: 240px;
            padding-top: 10px;
        }
       .moonexploration .testoo p{
            font-size: 12px;
            padding-left: 250px;
            padding-top: 0px;
        }
        .center-text{
            margin-top: 15px;
            margin-bottom: 30px;
        }
        .contenitore .t1 p{
            padding-left: 0px;
            font-size: 13px;
        }
        .contenitore .t2 p{
            font-size: 15px;
            padding-left: 30px;
        }
        .contenitore .t2 h5{
            padding-left: 30px;
            margin-top: 60px;
      padding-top: 0px;
    }
    .contenitore1{
        grid-template-columns: 1fr;
        gap: 100px;
        flex-direction: column;
    }
        .contenitore1 .text p{
           font-size: 13px;
           padding-left: 40px;
           padding-right: 50px;
        }
        .contenitore1 h4{
            padding-left: 40px;
        }
       .contenitore1 .imm1 img{
            width: 350px;
            height: 300px;
            padding-left: 200px;
            padding-top: 40px;
        }
        .contenitore1 .imm3 img{
            padding-left: 220px;
        }
        .contenitore1 .imm4 img{
            padding-left: 240px;
        }
        .contenitore1 .imm5 img{
            width: 450px;
            height: 450px;
            padding-left: 160px;
        }
        .tuta img{
            padding-left: 40px;
            width: 200px;
          
        }
        .immagini img{
           width: 160px;
           height: 140px;
           padding: 5px;
           margin-top: 15px;
        }
        .sbarco1 h1{
            padding-top: 0px;
      margin-top: 0px;
      padding-left: 40px;
      font-size: 40px;
        }
        .sbarco h1{
            padding-left: 40px;
            padding-right: 40px;
        }
        .sbarco h4{
            font-size: 20px;
            padding-left: 40px;
        }
    }
@media screen and (max-width: 576px) {
    .astronauta img{
        width: 576px;
        height: 550px;
    }
    .moonexploration .testoo h1{
        padding-top: 20px;
        font-size: 35px;
        padding-left: 200px;
    }
    .moonexploration .testoo p{
        font-size: 8px;
        padding-left: 200px;
        padding-top: 0px;
    }
    .center-text{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .contenitore{
        grid-template-columns: 1fr;
        gap: 150px;
        flex-direction: column;
    }
    .contenitore .t1 p{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .contenitore .t2 p{
        font-size: 15px;
        padding-left: 30px;
    }
    .contenitore .t2 h5{
        padding-left: 30px;
        margin-top: 0px;
  padding-top: 0px;
}
.contenitore1{
    grid-template-columns: 1fr;
    gap: 100px;
    flex-direction: column;
}
    .contenitore1 .text p{
       font-size: 13px;
       padding-left: 20px;
       padding-right: 50px;
    }
    .contenitore1 h4{
        padding-left: 40px;
    }
   .contenitore1 .imm1 img{
        width: 300px;
        height: 250px;
        padding-left: 140px;
        padding-top: 40px;
    }
    .contenitore1 .imm3 img{
        padding-left: 140px;
    }
    .contenitore1 .imm4 img{
        padding-left: 140px;
    }
    .contenitore1 .imm5 img{
        width: 350px;
        height: 350px;
        padding-left: 100px;
    }
    .tuta img{
        padding-left: 20px;
        width: 170px;
    }
    .immagini img{
       width: 140px;
       height: 120px;
       padding: 5px;
       margin-top: 15px;
    }
    .sbarco1 h1{
        padding-top: 0px;
  margin-top: 0px;
  padding-left: 15px;
  font-size: 28px;
    }
    .sbarco h1{
        padding-left: 15px;
    }
    .sbarco h4{
        font-size: 20px;
        padding-left: 15px;
    }
}
@media screen and (max-width: 400px) {
    .astronauta img{
        width: 400px;
        height: 400px;
    }
    .moonexploration .testoo h1{
        font-size: 30px;
        padding-left: 100px;
    }
    .moonexploration .testoo p{
        font-size: 8px;
        padding-left: 100px;
        padding-top: 0px;
    }
    .center-text{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .contenitore{
        grid-template-columns: 1fr;
        gap: 150px;
        flex-direction: column;
    }
    .contenitore .t1 p{
        font-size: 10px;
        margin-bottom: 0px;
    }
    .contenitore .t2 p{
        font-size: 10px;
        padding-left: 30px;
    }
    .contenitore .t2 h5{
        padding-left: 30px;
        margin-top: 0px;
  padding-top: 0px;
}
.contenitore1{
    grid-template-columns: 1fr;
    gap: 100px;
    flex-direction: column;
}
    .contenitore1 .text p{
       font-size: 10px;
       padding-left: 15px;
    }
    .contenitore1 h4{
        padding-left: 40px;
    }
   .contenitore1 .imm1 img{
        width: 300px;
        height: 250px;
        padding-left: 50px;
        padding-top: 40px;
    }
    .contenitore1 .imm3 img{
        padding-left: 60px;
    }
    .contenitore1 .imm4 img{
        padding-left: 50px;
    }
    .contenitore1 .imm5 img{
        width: 350px;
        height: 350px;
        padding-left: 20px;
    }
    .tuta img{
        padding-left: 20px;
        width: 170px;
    }
    .immagini img{
       width: 120px;
       height: 100px;
       padding: 0px;
       margin-top: 0px;
    }
    .sbarco1 h1{
        padding-top: 0px;
  margin-top: 0px;
  padding-left: 15px;
  font-size: 28px;
    }
    .sbarco h1{
        padding-left: 15px;
    }
    .sbarco h4{
        font-size: 20px;
        padding-left: 15px;
    }
}

/*KNOW*/
@media screen and (max-width: 992px){
.testata .titolo h1{
    padding-left: 50px;
}
 .luna img{
    width: 550px;
    height: 700px;
}
}
@media screen and (max-width: 768px){
    .testata .titolo h1{
        font-size: 40px;
    }
     .luna img{
        width: 400px;
        height: 500px;
    }
    .sottotitolo h1{
        font-size: 35px;
    }
    .grid-item p {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 576px){
    .testata .titolo h1{
        font-size: 35px;
        padding-left: 20px;
    }
     .luna img{
        width: 350px;
        height: 450px;
    }
    .barattolo{
        gap: 0px;
    }
    .sottotitolo h1{
        font-size: 25px;
    }
    .grid-item p {
        margin-bottom: 40px;
        font-size: 12px;
    }
    .grid-item h4 {
        font-size: 18px;
    }
    .toknow{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(5, auto); 
        gap: 20px; 
        padding: 20px;
    }
}
@media screen and (max-width: 400px){
    .testata .titolo h1{
        font-size: 25px;
        padding-left: 5px;
    }
     .luna img{
        width: 250px;
        height: 320px;
    }
    .barattolo{
        gap: 0px;
    }
    .sottotitolo h1{
        font-size: 18px;
        padding-left: 20px;
    }
    .grid-item p {
        margin-bottom: 40px;
        font-size: 8px;
    }
    .grid-item h4 {
        font-size: 14px;
    }
    .toknow{
        gap: 35px; 
    }
}

















    
   












@media screen and (max-width:1400px) {
    .col-50 {
        width: calc(50% - 44px);
    }



}
@media screen and (max-width: 1200px) {


    .col-50 {
        width: calc(50% - 44px);

    }



    .Immagine img {
        display: inline-block;
       
       
    }

    
    .text{
    display: inline-block;
    font-size: 40px;
    margin-left: 50px;
  
    
}
.close{
    margin-left: 100%;
    font-size: 50px;
}
.h1{
    display: inline-block;
}
    .Immagine8 img {
        width: 350px;
        height: 250px;
        margin-left: 0px;
    }

    .Immagine6 img {
        width: 350px;
        height: 250px;
        margin-left: 0px;
        margin-top: 60px;
    }

    .popup-content {
        width: 100%;
        height: 80%;
        margin-left: 250px;
    }

    .testo-film {
        width: 40%;
    }

    .close {
        margin-right: 400px;
    }

.film {
    margin: 0 auto;
    
}
}
@media screen and (max-width:992px) {
    
    .col-50 {
        width: 35%;
        align-items: center;
        margin: 0 auto;
        
    }

 

    .tutto {
        display: flex;
        flex-direction: column;
    }

    .button1 {
        width: 270px;
    }

    .button1 {
        width: 270px;
        margin-left: 250px;
    }




    .Immagine5 {
        display: inline-block; 
        margin-left: 200px;
        width: 350px;
        height: 300px;
    }
   
    
    

    .Immagine6 img {
        width: 350px;
        height: 250px;
        margin-left: 30px;
    }

    .textt {
        width: 90%;
    }

    .textt h1 {
        font-size: 46px;
    }

    .close {
        margin-right: 30px;
    }

    .fs-10 {
        font-size: 15px;
    }



    .parole1 {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .Immagine8 img {
        width: 350px;
        height: 250px;
        margin-left: 0px;
    }

    .popup-content {
        width: 100%;
        height: 80%;
        margin-left: 200px;
    }

    

    .close {
        margin-right: 90%;
        
    }

}
@media screen and (max-width:768px) {

    
    
.text {
    font-size: 15px;

}
.Immagine10 img {
margin: 100px  80px;



}
.Immagine10 {
    padding-left: 35px;
    
    
}
.close{
    margin-left: 90%;
    font-size: 35px;
}
    .col-50 {
        width: 100%;
        margin-left: 450px;
       
    }

 

    .tutto {
        display: flex;
        flex-direction: column;
    }

    .button1 {
        width: 270px;
        margin-left: 250px;
    }

    .Immagine5 {
        margin-left: 200px;
        width: 350px;
        height: 300px;
    }

    .Immagine6 img {
        width: 350px;
        height: 250px;
        margin-left: 30px;
    }

    .textt {
        width: 90%;
    }

    .textt h1 {
        font-size: 46px;
    }

    .Immagine8 img {
        width: 350px;
        height: 250px;
        margin-left: 0px;
        margin-right: 3000px;
    }

    .popup-content {
        width: 100%;
        height: 80%;
        margin-left: 30px;
    }

    .testo-film {
        width: 40%;
    }

    .close {
        margin-right: 800px;
        float: left;
    }

  

    .fs-10 {
        font-size: 15px;
    }

    .parole1 {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:576px) {
    .Immagine8 img {
        width: 350px;
        height: 250px;
        margin-left: 0px;
        margin-right: 3000px;
    }

    .popup-content {
        width: 100%;
        height: 80%;
        margin-left: 0px;
    }

    .testo-film {
        width: 40%;
    }

    .close {
        margin-right: 800px;
        float: left;
    }

    .fs-14 {
        font-size: 12px;
    }

    .tutto {
        display: flex;
        flex-direction: column;
    }

    .button1 {
        width: 270px;
        margin-left: 100px;
    }

    .Immagine5 {
        margin-left: 80px;
        width: 300px;
        height: 250px;
    }

    .Immagine6 img {
        width: 350px;
        height: 250px;
        margin-left: 30px;
    }

    .textt {
        width: 90%;
    }

    .textt h1 {
        font-size: 46px;
    }


    .fs-10 {
        font-size: 13px;
    }

    .parole1 {
        display: flex;
        flex-direction: column;
    }
    .col-50 {
        align-items: center;
    }
}
@media screen and (max-width:400px) {
    

    

    .close {
        margin-left: 80%;
        font-size: 60px;
    }
    .Immagine {
        padding: left 40px;;
    }
    .Immagine1{
       margin: 10px 0;
    }
    .text{
        font-size: 15px;

}
    .button1 {
        width: 300px;
        margin-left: 50px;
    }

    .parole1 {
        width: 100%;
        width: 90%;
    }

    .Immagine5 {
        margin-left: 50px;
    }

    .parole1 {
        display: flex;
        flex-direction: column;
    }

    .Immagine6 img {
        width: 350px;
        height: 250px;
        margin-left: 0px;
    }

    .Immagine8 img {
        width: 350px;
        height: 250px;
        margin-right: 3000px;
    }

    .popup-content {
        width: 100%;
        height: 80%;
    }

    .testo-film {
        width: 40%;
    }

    .close {
        margin-right: 800px;
        float: left;
    }

    .textt {
        width: 90%;
    }

    .textt h1 {
        font-size: 46px;
    }

    .fs-10 {
        font-size: 20px;
    }
}

/*CHI SIAMO*/
@media screen and (max-width: 1400px) {

    .button1 {
        width: 100px;
        height: 40px;
        margin-top: 310px;
    }
        .textt{
            display: inline-block;
            padding-bottom: 60%;
            margin-left: 45px
        }

    .Immagine5 {
        margin-left: 40px;
        margin-top: 150px;
    
    }
    .presentazione {
        margin-top: 70px;
        padding-left: 45px;
    }
    }
    @media screen and (max-width: 1200px) {
        .button1 {
         height: 40%;
         width: 50%;
         margin-top: 275px;
    
           
        }
    
    
        .Immagine5{
    
        height: 160px;
         width: 210px;
         margin-bottom: 55px;
         margin-left: 10px;
        }
        .textt p {
            
            margin-bottom: 500px;
            font-size:15px ;
    
        }
        .Immagine6 img{
            height: 300px;
            width: 400px;
              }
            
        }
        @media screen and (max-width:992px) {
        .Immagine5 {
            width: 200px;
            height: 140px ;
        }
        .button1 {
            font-size: 10px;
         
            margin-top: 255px;
    
        }
        .presentazione h1 {
            font-size: 40px;
            margin-top: 100px;
        
       
        }
        .parole1{
            margin-top: 100px
    
        }
        
        .Immagine6 img{
            height: 200px;
            width: 270px;
            margin-top: 100px;
            margin-left: 40 px;
        }
        .textt p{
            font-size: 14px;
            padding-right: 20px;
        }
    }
    @media screen and (max-width: 768px) {
    
    .presentazione p{
        font-size: 13px;
    }
    .Immagine5 {
        width:150px;
        height: 110px;
    }
    .button1{
        font-size: 8px;
        margin-top: 229px;
    }
    .Immagine6 img{
        width: 280px;
        height: 210px;
        margin-left: 55px;
        margin-bottom: 00px;
        
    }
    .parole1 {
        margin-top: 30px;
    }
    .textt h1 {
        font-size: 25px;
    }
    .close{
        margin-left: 50px;
        margin-top: 45px;
     
    }
    .textt p{
        margin-left: 10px;
       margin-top: 35px;
        
    
    }
    
    
    
    }
    @media screen and (max-width:576px) {
    .presentazione h1{
        font-size: 30px;
    }
    .Immagine6 img{
        width: 300px;
    }

    .tutto{
        
        flex-direction: column;
        grid-template-columns: 1fr;
        
        
    }
    .button1{
        margin-left:120px ;
        margin-top: 5px;
        font-size: 15px;
        
    }
    .tutto img{
    
        margin-top: 70px;
        width: 250px;
        height: 170px;
        margin-left: 120px;
        margin-bottom: 30px;
    
    }
    .parole1{
        margin-bottom: 1500px;
        margin-right: 280px;
    }
    .textt p{
        font-size: 9px;
        padding-left: 190px;
    
     
    }
    .textt h1{
        padding-left: 190px;
        font-size: 20px;
    }
    .parole1 img{
       
       padding-top: 15px;
        width: 200px;
        height: 170px;
        padding-left: 100px;
    }
    .close {
        margin-right: 60px;
    }
    
    .parole1 {
        flex-direction: column;
        grid-template-columns: 1fr;
       padding-bottom: 300px;
    }
    }
    @media screen and (max-width:400px) {
    .tutto img {
        margin-left: 55px;
        width: 170px;
        height: 110px;
    }
    .presentazione p {
        font-size: 8px;
    }
    .presentazione h1{
        font-size: 20px;
        margin-right:55px;
    }
    .presentazione {
        margin-bottom: 85px;
        margin-right: 95px;
    }
    .button1{
        margin-left: 55px;
        font-size: 15px;
    }
    .Immagine6 img{
        margin-left: 110px;
    }
    .close{
        padding-right: 170px;
        font-size: 20px;
    }
    }


